body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display:flex;
    align-self: center;
    justify-content: center;
    background: hsl(0, 0%, 95%);
    font-family: 'Times New Roman', Times, serif';
    
}
button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;

}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

.operators{
    background:hsl(33, 100%, 50%)
}

.operators:hover{
    background: hsl(33, 100%, 60%);
}
.operators:active{
    background: hsl(33, 100%, 70%);
}

.display{
    width: 100%;
    background: hsl(0, 0%, 20%);
    color: #fff;
    padding: 20px;
    font-size: 80px;
    text-align: left;
    border: none;
    pointer-events: none;



}

.calculator{
    background: hsl(0, 0%, 15%);
    width: 500px;
    overflow: hidden;
    border-radius: 5%;
}